<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.runningman"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.runningman.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.runningman.GetMap"
            android:label="@string/title_activity_get_map"
            android:parentActivityName="com.example.runningman.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningman.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCGIJQcf3mi5HoP5aIGCTTsoeHVfwFBnqw" />

        <activity
            android:name="com.example.runningman.PersonalData"
            android:label="@string/title_activity_personal_data"
            android:parentActivityName="com.example.runningman.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningman.MainActivity" />
        </activity>
        <activity
            android:name="com.example.runningman.GoogleLogin"
            android:label="@string/title_activity_google_login"
            android:parentActivityName="com.example.runningman.PersonalData" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningman.PersonalData" />
        </activity>
        <activity
            android:name="com.example.runningman.Sensor"
            android:label="@string/title_activity_sensor"
            android:parentActivityName="com.example.runningman.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningman.MainActivity" />
        </activity>
        <activity
            android:name="com.example.runningman.Weather"
            android:label="@string/title_activity_weather"
            android:parentActivityName="com.example.runningman.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningman.MainActivity" />
        </activity>
        <activity
            android:name="com.example.runningman.Schedule"
            android:label="@string/title_activity_schedule"
            android:parentActivityName="com.example.runningman.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningman.MainActivity" />
        </activity>
        <activity
            android:name="com.example.runningman.History"
            android:label="@string/title_activity_history"
            android:parentActivityName="com.example.runningman.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningman.MainActivity" />
        </activity>
    </application>

</manifest>
